
/* --  Serif Font --  */

@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Charter Regular.ttf");
}
@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Charter Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Charter Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Charter Bold Italic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Charter Italic.ttf");
    font-style: oblique;
}
@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Charter Bold Italic.ttf");
    font-weight: bold;
    font-style: oblique;
}

/* --  Sans Serif Font --  */

@font-face {
    font-family: atbooks-sans;
    src: url("../fonts/Marat Sans Regular.otf");
}

@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Marat Sans Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: atbooks-serif;
    src: url("../Marat Sans Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Marat Sans Bold Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: atbooks-serif;
    src: url("../Marat Sans Italic.otf");
    font-style: oblique;
}

@font-face {
    font-family: atbooks-serif;
    src: url("../fonts/Marat Sans Bold Italic.ttf");
    font-weight: bold;
    font-style: oblique;
}