testsuite/.project
*.iml
testsuite/.target
logs
etc
project/project
project/target
target
lib_managed
src_managed
project/boot
tmp
.history
dist
.DS_Store
.cache
.settings
.classpath
bin
.class
.ivy2
.idea
.idea_modules
core/.project
core/.target
http/.project
http/.target
*~
*.sc
http/conf/developer.conf
validation/conf/reference.conf
projectFilesBackup
testsuite/target
testsuite/conf/developer.conf
benchmark/conf/developer.conf
